<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_cleared.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>city_selector_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,38}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>city_selector_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,62},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>city_selector_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,70},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>city_travel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>medal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,100},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>medal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{42,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,24}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>medal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,24}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_selectors.pvr.ccz</string>
            <key>size</key>
            <string>{122,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d78759093de17ab9bceff4c680c345e1$</string>
            <key>textureFileName</key>
            <string>city_selectors.pvr.ccz</string>
        </dict>
    </dict>
</plist>
